node_modules/
.env
.npm/
.nvm/
.rediscli_history
.ssh/
.bash_history
.bash_logout
.bash_profile
.bashrc
.config/
.newrelic.js
.node-gyp/
.pm2/
.loader.txt
.newrelic_agent.log
newrelic.js
/server/loader.txt
/server/newrelic_agent.log
